site_name: CoverGo API Documentation
site_description: Documentation for CoverGo GraphQL APIs
site_author: API Documentation Team

theme:
  name: material
  palette:
    primary: blue
    accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight

plugins:
  - search
  - mkdocstrings

extra_javascript:
  - https://unpkg.com/mermaid@10.6.1/dist/mermaid.min.js

nav:
  - Home: index.md
  - Authentication:
    - Token API: authentication/token.md
    - Refresh Token API: authentication/refreshtoken.md
  - API Reference:
    - GraphQL Schema: api-reference/schema.md
    - Available Mutations: api-reference/mutations.md
  - Getting Started: getting-started.md

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.tabbed
  - admonition
  - toc:
      permalink: true
